<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World!</title>
</head>
<body>
    <form action="exibir-hello" method="post">
        <input type="text" name="nome" placeholder="Digite seu nome..."/>
        <button type="submit">Enviar</button>
    </form>

    {{#if nome}}
        <p>Hello, {{nome}} !</p>
    {{/if}}

    
</body>
</html>