* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --black: #000;

    --dark-900: #101026;
    --dark-700: #1D1D2E;

    --gray-100: #8a8a8a;
    --green-900: #3fffa3;
    --red-900: #FF3F4B;
}

button {
    cursor: pointer;
}

body {
    background-color: var(--dark-700);
}

.container {
    background-color: red;
}